
.button-theme {
    background:#376bff;
}

.button-theme:hover {
    background: #2c5ce4;
}

.intro-section .intro-section-inner:before {
    background: #2c5ce4;
}

.intro-section .intro-section-inner:after {
    background: #2c5ce4;
}

.team-2 .detail h4 a{
    color: #376bff;
}

.contact-1 .contact-details .ci-box i{
    color: #376bff;
}

.contact-1 .social-list li a{
    color: #376bff;
}

.contact-1 .social-list li a:hover{
    background: #376bff;
}

.modal-right-content h3{
    color: #376bff;
}

.close span {
    color: #376bff;
}

.car-box-4 h3 a:hover{
    color: #376bff;
}

.car-box-4 .for{
    background: #376bff;
}

.car-model-2 .ratings-box {
    background: #376bff;
    color: #fff!important;
}

.category-subtitle{
    color: #376bff;
}

.car-box .car-thumbnail::before {
    background: #376bff;
}

.car-box .car-thumbnail::after {
    background: #376bff;
}

.heading-car-3 h3 span {
    color: #376bff;
}

.overlap-btn {
    border: solid 1px #fff;
    background: #fff;
    color: #376bff !important;
    font-weight: 600;
}

.car-box:hover .tag {
    color: #376bff;
}

.car-box:hover .facilities-list li i{
    color: #376bff;
}

.car-box:hover .detail .top h1 a{
    color: #376bff;
}

.overlap-btn.active {
    border: 2px solid #376bff !important;
    background: #376bff !important;
    color: #fff!important;
}

.car-box .detail .top h1 span{
    color: #376bff;
}

.testimonial-3 .carousel-indicators .active {
    background-color: #376bff;
}

.testimonial-3 .testimonial-inner h5 strong{
    color: #376bff;
}

.car-box-2 .price-box{
    color: #376bff;
}

.car-box-4 .facilities-list li i{
    color: #376bff;
}

.car-box .detail .top a:hover{
    color: #376bff;
}

.about-text h3 span{
    color: #376bff;
}

.blog-4 .detail h3 a:hover{
    color: #376bff;
}

.blog-item .b-btn{
    color: #376bff;
}

.advantages-box-2.df-box:before {
    background:  #376bff;
}

.advantages-box-2 i{
    color: #376bff;
}

.btn-5 {
    border: 2px solid #376bff;
    color: #ff214f;
}

.btn-6 {
    background: #376bff;
}

#full-page-search .close {
    background: #376bff;
}

.btn-6:before {
    background: #376bff;
}

.btn-6:after {
    background: #376bff;
}

.btn-6:hover {
    color: #376bff;
    border: 2px solid #376bff;
}

.btn-5:before, .btn-5:after {
    background: #376bff;
}

.login-1 .info h1 a{
    color: #376bff;
}

.latest-offers-box h5{
    color: #376bff;
}

.testimonial-2 .testimonial-item-new .author-content h5 .desig{
    color: #376bff;
}

.active-items-box .list-group-item.active {
    background-color: #376bff;
    border-color: #376bff;
}

.testimonial-2 .testimonial-item-new .left-line::before{
    background: #376bff;
}

.advantages-box-2:hover h5 a{
    color: #376bff;
}

.testimonial-2 .testimonial-item-new .author-img .icon{
    background: #376bff;
}

.advantages-4 .advantages-4-inner:hover {
    background: #376bff;
}

.advantages-4 .icon {
    color: #376bff;
}

.price-box-2{
    color: #376bff;
}

.car-box-3 .detail .title a{
    color: #376bff;
}

.car-box-5 .facilities-list li i{
    color: #376bff;
}

.car-box-3 .facilities-list li i{
    color: #376bff;
}

.car-box-2 .facilities-list li i{
    color: #376bff;
}

.change-view-btn:hover {
    background: #376bff;
    border: solid 2px #376bff;
    color: #fff;
}

.change-view-btn {
    border-radius: 2px;
    border: solid 2px #376bff;
    color: #376bff;
}

.active-view-btn{
    background: #376bff;
    border: solid 2px #376bff;
    color: #fff;
}

.car-box-4 h5{
    color: #376bff;
}

.blog-4 .date-box-2{
    color: #376bff;
}

.blog-4 .post-meta a {
    color: #376bff;
}

.date-box::after {
    border-right: 20px solid #376bff;
}

.sb-5 .search-area-inner{
    background:#376bff;
}

.carousel-indicators .active {
    background-color: #376bff;
}

.navbar-light .navbar-toggler{
    background: #376bff;
}

.shop-box .text-section .btn-primary {
    color: #376bff;
}

.shop-box .text-section .btn-primary:hover{
    background: #376bff;
    border-color: #376bff;
}

#dismiss {
    color: #376bff;
}

.sidebar-navigation ul li a:hover {
    color: #376bff;
}

.sidebar-navigation .active {
    color: #376bff;
}

.get-in-touch .media:hover i {
    color: #ff214f;
}

.blog-2 h4 a:hover{
    color: #376bff;
}

.blog-1 .post-meta-2 span a{
    color: #376bff;
}

.banner h4 {
    color: #376bff;
}

.shop-info .price del {
    color: #376bff;
}

.details-banner .cover-buttons ul li a:hover {
    border: solid 1px #376bff;
    background: #376bff;
}

.details-banner .ratings-box {
    background: #376bff;
}

.btn-border {
    color: #376bff;
    border: solid 1px #376bff;
}

.btn-border:hover {
    border: solid 1px #376bff;
    background: #376bff;
}

.dashboard-nav ul {
    border-bottom: 1px solid #2c5ce4;
}

.advantages-box .icon{
    background:#376bff;
}

.new-user-box .follow:hover{
    background:#376bff;
    color: #fff;
}

.setting-button i{
    color:#376bff;
}

.top-header {
    background-color:#376bff;
}

#page_scroller {
    background:#376bff;
}

.dashboard-nav{
    background:#376bff;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px #376bff;
    border-radius: 0;
    color:#376bff;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background:#376bff;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #376bff;
}

.main-header .dropdown-menu a:hover {
    color:#376bff;
}

input[type=checkbox]:checked + label:before {
    color:#376bff!important;
}

.advantages-box-3 i{
    color: #376bff;
}

.intro-section .btn{
    color: #376bff;
}

.banner-bg-color{
    background:#376bff;
}

.btn-theme{
    background:#376bff;
    border: solid 1px #376bff;
}

.btn-theme:hover{
    background: #2c5ce4;
    border: solid 1px #2c5ce4;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background:#376bff;
    border: solid 2px #376bff;
}

.car-amenities ul li i {
    color:#376bff;
}


.pricing-1 .pricing-btn {
    border: solid 1px #376bff;
    color: #376bff;
}

.pricing-1:hover .pricing-btn {
    color: #376bff;
}

.pricing-1::before {
    background: #376bff;
}

.pricing-1 .plan-list ul li i{
    color: #376bff;
}

.pricing-1 .plan-header .plan-price{
    color: #376bff;
}

.border-button-theme {
    color:#376bff;
    border: 2px solid #376bff;
}

.banner-detail-box .red-box {
    background:#376bff url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color:#376bff;
}

.banner-detail-box .white-box .slide-location::after {
    background-color:#376bff;
}

.search-options-btn, .search-options-btn:hover {
    background:#376bff;
}

.search-button {
    background:#376bff;
}

.intro-section {
    background:#376bff;
}

.search-button:hover {
    color: #fff;
    background: #2c5ce4;
}

.popular .price-for-user {
    color:#376bff;
}

.dolar{
    color:#376bff;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color:#376bff;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color:#376bff;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color:#376bff;
}

.tag {
    background:#376bff;
}

.tag::after {
    border-left: 10px solid #376bff;
}

.recent-properties-box .detail header::after {
    background-color:#376bff;
}

.car-box .detail .title a {
    color:#376bff;
}

footer .footer-item .contact-info li label a:hover {
    color:#376bff;
}

.service-box .heading .title h4 a:hover {
    color:#376bff;
}

.about-slider-box::before {
    background: #376bff;
}

.about-slider-box:hover{
    background: #376bff;
}

.main-header .form-inline .submit {
    border: solid 1px #376bff;
    color:#376bff;
}

.main-header .form-inline .submit:hover {
    border: solid 1px #376bff;
    background:#376bff;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color:#376bff;
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color:#376bff !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color:#376bff;
}

.plan .price-header h1 {
    color:#376bff;
}

.btn-outline {
    border: solid 1px #376bff;
    color:#376bff;
}

.btn-outline:hover {
    border: solid 1px #2c5ce4;
    background: #2c5ce4;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #376bff;
    color:#376bff;
    font-weight: 600;
}

.heading-car-2 h3 span {
    color:#376bff;
}

.get-in-touch .get-in-touch-box:hover i{
    color: #376bff;
}

.btn-outline-2:hover {
    border: solid 2px #2c5ce4;
    background: #2c5ce4;
    color: #fff;
}

.footer .form-inline .btn{
    background:#376bff;
    color: #fff;
}

.search-box-2{
    background:#376bff;
}

.about-box .detail h3 {
    color:#376bff;
}

li.active.filtr-button.filtr a{
    color:#376bff;
}

.coming-soon-inner h1 span{
    color:#376bff;
}

.filteriz-navigation li a:hover{
    color:#376bff;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color:#376bff;
}


.show-more-options i{
    color:#376bff;
}

.form-content-box .footer span a {
    color:#376bff;
}

.pagination > li > .active {
    background:#376bff;
}

.pagination > li > a:hover {
    background:#376bff;
    color: #fff;
}

.read-more {
    color:#376bff;
}

.blog-3 .date-box {
    background:#376bff;
}

.blog-3 .date-box::after {
    border-right: 15px solid #376bff;
}

.blog-3 .detail h3 a {
    color:#376bff;
}

.blog-3 .detail .post-meta span a i {
    color:#376bff;
}

.range-slider .ui-slider .ui-slider-handle {
    background:#376bff;
}

.our-agent-sidebar .carousel-indicators .active {
    background:#376bff;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #376bff;
}

.range-slider .ui-widget-header {
    background-color:#376bff;
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color:#376bff;
    border: solid 1px #376bff;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover{
    color: #fff;
    border: solid 1px #376bff;
    background:#376bff;
}

.posts-by-category ul li a:hover {
    color:#376bff;
}

.tags-box ul li a:hover {
    color:#376bff;
}

.glyph:hover .lnr{
    color:#376bff;
}

.latest-tweet a {
    color:#376bff;
}

.reviews-box .text-primary {
    color:#376bff;
}

.reviews-box .progress-primary .progress-bar {
    background:#376bff;
}

.overall .score span{
    color:#376bff;
}

.blog-tags a:hover {
    color:#376bff;
}

.car-box-5 .detail .title a {
    color:#376bff;
}

.vs{
    background:#376bff;
}

.reviews-box .detail .title a {
    color:#376bff;
}

.blog-1 .blog-image::before {
    background: #376bff;
}

.advantages-box:hover .icon {
    color: #376bff;
}

.advantages-box::before {
    background: #376bff;
}

.blog-1 .blog-image::after {
    background: #376bff;
}

.blog-1 .date-box span {
    color: #376bff;
}

.blog-1 .date-box{
    color: #376bff;
}

.blog-1:hover .date-box{
    background: #376bff;
}

.blog-1:hover .date-box::after{
    border-right: 10px solid #376bff;
}

.leaflet-container a.leaflet-popup-close-button {
    color:#376bff;
}

.breadcrumbs li a:hover {
    color:#376bff;
}

.helping-center ul li i {
    color:#376bff;
}

.my-account-box .title::after {
    background-color:#376bff;
}

.breadcrumb-nav ul .active {
    color:#376bff;
}

.photoUpload {
    background:#376bff;
}

.typography-page mark.color {
    background-color:#376bff;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color:#376bff;
}

.dashboard-nav ul li span.nav-tag {
    color:#376bff;
}

.comment-content h6 span a{
    color:#376bff;
}

.comment-content h6 span a:hover{
    color: #2c5ce4;
}

.bg-active {
    background:#376bff;
    color: #fff !important;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color:#376bff;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #376bff;
    background-color:#376bff;
}

.numbered.color ol > li::before {
    border: 1px solid #376bff;
    color:#376bff;
}

.widget-link:hover {
    color:#376bff;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background:#376bff;
}

.car-box-2 .detail .title a {
    color:#376bff;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#376bff;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color:#376bff;
}

.map-marker:hover {
    background-color:#376bff;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color:#376bff transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color:#376bff;
}

.map-marker.featured:hover:before {
    border-color:#376bff transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #376bff;
}

.marker-active .map-marker {
    background-color:#376bff;
}

.marker-active .map-marker:before {
    border-color:#376bff transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background:#376bff;
    color: #fff;
}

.map-properties .map-content h4 a {
    color:#376bff;
}

.dropzone-design:hover {
    border: 2px dashed#376bff;
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:#376bff!important;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#376bff;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:#376bff !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:#376bff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:#376bff !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}